
/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}




body {
	background-color: white; 
}
.header {
	background-color: white;
}
h1 { 
	font-family: 'Changa One', cursive, sans-serif;
	font-weight: 400;
	font-size: 50px;
	color: gray;
}
.ctext {
	color: #DB8C05;
}
.entry {
	background-image: url(../images/isle.jpg);
	background-position: center center;
	background-size: cover;
	margin: auto;
	background-repeat: no-repeat; 
}
/*#cart {

}
.input {
	
}*/
#item {
	border-radius: 10px;
	color: gray;
	opacity: 0.5;
}
.message {
	color: gray;
	opacity: 0.8;
}/*
#add {
	height: 50px;
	width: 50px;
}
.list-area {
	
}*/
h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-style: italic;
	font-size: 20px;
}
#listed {
	background: url(../images/pady.png);
	background-position: middle;
	background-size: cover;
	margin: inherit;
	background-repeat: no-repeat; 
}
#pady {

}
#list {
	list-style: none;
}
.items {
	font-size: 18px;
    cursor: pointer;
}
.box {
	float: left;
    margin-top: 3px;
    margin-right: 30px;
    height: 17px;
    width: 17px;
    background: url(../images/box_Sprite.png) 0 0;
}
.______??? {
	float: inherit;
	margin-top: 3px;
	display: block;
	height: 18px;
	background: url(../images/box_Sprite.png) 17px 0px;
}
.delete {
	float: right;
	margin-top: 3px;
	display: block;
	height: 18px;
};





