
/*body {
	background-color: white; 
}

h1 { 
	font-family: 'Changa One', cursive, sans-serif;
	font-weight: 400;
}
h2 {
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-style: italic;
}
.ex-out {
	float: inherit;
	margin-top: 3px;
	display: block;
	height: 18px;
}
#list {
	list-style: none;
